[Unit]
Description=Run bc-setup-all
OnFailure=notify-to-slack@%n.service

[Service]
Type=oneshot
WorkingDirectory=/var/www/docs.ruby-lang.org/current
EnvironmentFile=/etc/systemd/system/prepend-snap-path
ExecStart=/usr/bin/env system/bc-setup-all
User=rurema
Group=rurema
#ExecStartPre=!/usr/bin/install -o rurema -g rurema -d /run/docs.ruby-lang.org
ExecStartPost=/usr/bin/touch /run/docs.ruby-lang.org/bc-setup-all.updated
