[Unit]
Description=Run rdoc-static-all
OnFailure=notify-to-slack@%n.service

[Service]
Type=oneshot
WorkingDirectory=/var/www/docs.ruby-lang.org/current
ExecStart=/snap/bin/ruby system/rdoc-static-all
User=rurema
Group=rurema
#ExecStartPre=!/usr/bin/install -o rurema -g rurema -d /run/docs.ruby-lang.org
ExecStartPost=/usr/bin/touch /run/docs.ruby-lang.org/rdoc-static-all.updated
