[Unit]
Description=Update docs.ruby-lang.org/ja/

[Timer]
OnCalendar=*-*-* 21:15
Persistent=true
Unit=bc-setup-all.service

[Install]
WantedBy=timers.target
